# Tugas 1

In [ ]:
# Import liberary yang diperlukan
import pandas as pd 
import math

In [ ]:
# Membaca data csv
mobile = pd.read_csv("https://raw.githubusercontent.com/Luqman-Noor-Buat/datamining/main/Samsung_mobile.csv")
mobile.head()

,Mobile_Phone,Model,RAM_GB,ROM_GB,Review,Latest_Price_Taka,Payment_Method,Discount,Selling_Price
0,Samsumg Galaxy,Note 20 ultra,8,256,good,134999.0,cash,3000,131999
1,Samsumg Galaxy,S20 ultra,12,128,good,129900.0,cash,3000,126900
2,Samsumg Galaxy,S20+,8,128,good,84999.0,cash,3000,81999
3,Samsumg Galaxy,Lite,6,128,good,55999.0,cash,2500,53499
4,Samsumg Galaxy,A51,6,128,good,45990.0,cash,2500,43490

In [ ]:
# mengetahui jumlah baris dan kolom
mobile.shape

(21, 9)

Data Nominal/Categorical

In [ ]:
# Menampilkan data Nominal/Categorical
mobile[["Mobile_Phone","Model","Review", "Payment_Method"]].head()

     Mobile_Phone          Model Review Payment_Method
0  Samsumg Galaxy  Note 20 ultra   good           cash
1  Samsumg Galaxy      S20 ultra   good           cash
2  Samsumg Galaxy           S20+   good           cash
3  Samsumg Galaxy           Lite   good           cash
4  Samsumg Galaxy            A51   good           cash

In [ ]:
# Menghitung jarak data Nominal/categorical
def d1(i,j):
    P = 4
    M = 0
    for col in ["Mobile_Phone", "Model", "Review","Payment_Method"]:
        if mobile[col][i] == mobile[col][j]:
            M += 1

    return (P-M)/P

In [ ]:
# Menampilkan hasil perhitungan
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

0.25
0.25
0.25

Data Numeric

In [ ]:
# Menampilkan data numeric
mobile[["RAM_GB", "ROM_GB", "Latest_Price_Taka", "Discount", "Selling_Price"]].head()

   RAM_GB  ROM_GB  Latest_Price_Taka  Discount  Selling_Price
0       8     256           134999.0      3000         131999
1      12     128           129900.0      3000         126900
2       8     128            84999.0      3000          81999
3       6     128            55999.0      2500          53499
4       6     128            45990.0      2500          43490

In [ ]:
mobile.describe()

          RAM_GB      ROM_GB  Latest_Price_Taka     Discount  Selling_Price
count  21.000000   21.000000          21.000000    21.000000      21.000000
mean    5.142857   93.714286       37610.952381  1940.476190   35670.476190
std     2.920372   62.026722       36891.663754   766.097097   36284.165145
min     0.000000    0.000000        2750.000000   250.000000    2500.000000
25%     3.000000   32.000000       15999.000000  1500.000000   14499.000000
50%     6.000000  128.000000       27490.000000  2000.000000   25490.000000
75%     6.000000  128.000000       42999.000000  2500.000000   40499.000000
max    12.000000  256.000000      134999.000000  3000.000000  131999.000000

In [ ]:
import statistics
# Mencari rata-rata RAM_GB
print(statistics.mean(mobile["RAM_GB"]))

# Mencari rata-rata ROM_GB

# Mencari rata-rata Latest_Price_Taka

# Mencari rata-rata Discount

# Mencari rata-rata Selling_Price

5.142857142857143

In [ ]:
# Mencari standart deviasi RAM_GB
print(statistics.stdev(mobile["RAM_GB"]))

# Mencari standart deviasi ROM_GB

# Mencari standart deviasi Latest_Price_Taka

# Mencari standart deviasi Discount

# Mencari standart deviasi Selling_Price

2.9203717962909157

In [ ]:
# Menghitung jarak data Numeric dengan cara Euclidean
def d2(i,j,h):
    result = 0
    for col in ["RAM_GB", "ROM_GB", "Latest_Price_Taka", "Discount", "Selling_Price"]:
        result = math.pow(abs(mobile[col][i] - mobile[col][j]), h)
    return result**(1/h)

In [ ]:
# Menampilkan hasil perhitungan
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

44901.0
73401.0
83410.0

Similarity

In [ ]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2))

44901.25

In [ ]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2))

73401.25

In [ ]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2))

83410.25