# Tugas

Nama&nbsp;: Luqman Noor Buat <br>
NIM&nbsp;&nbsp;&nbsp;&nbsp;: 200411100206 <br>
Kelas&nbsp;&nbsp;: Penambangan Data C

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Tugas 1 - Menghitung jarak

In [ ]:
# Import liberary yang diperlukan
import pandas as pd 
import math

In [ ]:
# Membaca data csv
mobile = pd.read_csv("https://raw.githubusercontent.com/Luqman-Noor-Buat/datamining/main/Samsung_mobile.csv")
mobile.head()

,Mobile_Phone,Model,RAM_GB,ROM_GB,Review,Latest_Price_Taka,Payment_Method,Discount,Selling_Price
0,Samsumg Galaxy,Note 20 ultra,8,256,good,134999.0,cash,3000,131999
1,Samsumg Galaxy,S20 ultra,12,128,good,129900.0,cash,3000,126900
2,Samsumg Galaxy,S20+,8,128,good,84999.0,cash,3000,81999
3,Samsumg Galaxy,Lite,6,128,good,55999.0,cash,2500,53499
4,Samsumg Galaxy,A51,6,128,good,45990.0,cash,2500,43490

In [ ]:
# mengetahui jumlah baris dan kolom
mobile.shape

(21, 9)

## Data Nominal/Categorical
Nilai atribut nominal adalah simbol ataunama barang. Setiap nilai mewakili beberapa jenis kategori, kode, atau status, dan Atribut nominal juga disebut kategori. Nilai-nilainya tidak memiliki tingkatan nilai. Dalam ilmu komputer, nilainya juga dikenal sebagai enumerasi

In [ ]:
# Menampilkan data Nominal/Categorical
mobile[["Mobile_Phone","Model","Review", "Payment_Method"]].head()

     Mobile_Phone          Model Review Payment_Method
0  Samsumg Galaxy  Note 20 ultra   good           cash
1  Samsumg Galaxy      S20 ultra   good           cash
2  Samsumg Galaxy           S20+   good           cash
3  Samsumg Galaxy           Lite   good           cash
4  Samsumg Galaxy            A51   good           cash

Melakukan perhitungan berdasarkan pada data nominal <br>
![nominal.png]()

In [ ]:
# Menghitung jarak data Nominal/categorical
def d1(i,j):
    P = 4
    M = 0
    for col in ["Mobile_Phone", "Model", "Review","Payment_Method"]:
        if mobile[col][i] == mobile[col][j]:
            M += 1

    return (P-M)/P

In [ ]:
# Menampilkan hasil perhitungan jarak di tipe data nominal/categorical
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

0.25
0.25
0.25

## Data Numeric
Atribut numerik bersifat kuantitatif; Artinya, ini adalah kuantitas yang terukur, yang dinyatakan dengan bilangan bulat atau nilai riel. Atribut numerik dapat Atribut Skala Interval(interval-scaled) atau skala ration (ratio-scaled)

In [ ]:
# Menampilkan data numeric
mobile[["RAM_GB", "ROM_GB", "Latest_Price_Taka", "Discount", "Selling_Price"]].head()

   RAM_GB  ROM_GB  Latest_Price_Taka  Discount  Selling_Price
0       8     256           134999.0      3000         131999
1      12     128           129900.0      3000         126900
2       8     128            84999.0      3000          81999
3       6     128            55999.0      2500          53499
4       6     128            45990.0      2500          43490

In [ ]:
# Melihat detail dari data numeric yang ada
mobile.describe()

          RAM_GB      ROM_GB  Latest_Price_Taka     Discount  Selling_Price
count  21.000000   21.000000          21.000000    21.000000      21.000000
mean    5.142857   93.714286       37610.952381  1940.476190   35670.476190
std     2.920372   62.026722       36891.663754   766.097097   36284.165145
min     0.000000    0.000000        2750.000000   250.000000    2500.000000
25%     3.000000   32.000000       15999.000000  1500.000000   14499.000000
50%     6.000000  128.000000       27490.000000  2000.000000   25490.000000
75%     6.000000  128.000000       42999.000000  2500.000000   40499.000000
max    12.000000  256.000000      134999.000000  3000.000000  131999.000000

Karena datanya tidak konsisten maka, data perlu dilakukan normalisasi menggunakan rumus berikut <br>
![normalisasi.png]()

In [ ]:
# Normalisasi data RAM_GB
std1 = 2.920372
mean1 = 5.142857
for col1 in ["RAM_GB"]:
    data1 = mobile[col1]
    hasil1 = (data1-mean1)/std1
    print(hasil1)

# Normalisasi data ROM_GB
std2 = 62.026722
mean2 = 93.714286
for col2 in ["ROM_GB"]:
    data2 = mobile[col2]
    hasil2 = (data2-mean2)/std2
    print(hasil2)

# Normalisasi data Latest_Price_Taka
std3 = 36891.663754	
mean3 = 37610.952381	
for col3 in ["Latest_Price_Taka"]:
    data3 = mobile[col3]
    hasil3 = (data3-mean3)/std3
    print(hasil3)

# Normalisasi data Discount
std4 = 766.097097
mean4 = 1940.476190	
for col4 in ["Discount"]:
    data4 = mobile[col4]
    hasil4 = (data4-mean4)/std4
    print(hasil4)

# Normalisasi data Selling_Price
std5 = 36284.165145
mean5 = 35670.476190
for col5 in ["Selling_Price"]:
    data5 = mobile[col5]
    hasil5 = (data5-mean5)/std5
    print(hasil5)

0     0.978349
1     2.348038
2     0.978349
3     0.293505
4     0.293505
5     0.978349
6     0.293505
7     0.293505
8     0.293505
9     0.293505
10    0.293505
11    0.293505
12    0.293505
13    0.293505
14   -0.733762
15   -0.733762
16   -1.076184
17   -1.076184
18   -1.076184
19   -1.761028
20   -1.761028
Name: RAM_GB, dtype: float64
0     2.616384
1     0.552757
2     0.552757
3     0.552757
4     0.552757
5     0.552757
6     0.552757
7     0.552757
8     0.552757
9     0.552757
10    0.552757
11   -0.479056
12   -0.479056
13    0.552757
14   -0.479056
15   -0.994963
16   -0.994963
17   -0.994963
18   -1.252916
19   -1.510870
20   -1.510870
Name: ROM_GB, dtype: float64
0     2.639839
1     2.501623
2     1.284519
3     0.498434
4     0.227126
5     0.146051
6     0.037381
7     0.037381
8    -0.260545
9    -0.274343
10   -0.274343
11   -0.423157
12   -0.477640
13   -0.539714
14   -0.585822
15   -0.585822
16   -0.667141
17   -0.667141
18   -0.748460
19   -0.923270
20   -0.944955
Name: Latest_Price_Taka, dtype: float64
0     1.383015
1     1.383015
2     1.383015
3     0.730356
4     0.730356
5     0.730356
6     0.730356
7     0.730356
8     0.077697
9     0.077697
10    0.077697
11    0.077697
12    0.077697
13   -0.574961
14   -0.574961
15   -0.574961
16   -0.574961
17   -0.574961
18   -1.227620
19   -1.880279
20   -2.206608
Name: Discount, dtype: float64
0     2.654836
1     2.514307
2     1.276825
3     0.491358
4     0.215508
5     0.133075
6     0.022586
7     0.022586
8    -0.266548
9    -0.280576
10   -0.280576
11   -0.431882
12   -0.487278
13   -0.536611
14   -0.583491
15   -0.583491
16   -0.666171
17   -0.666171
18   -0.735072
19   -0.899028
20   -0.914186
Name: Selling_Price, dtype: float64

Melakukan perhitungan berdasarkan rumus Euclidean Distance <br>
![12.png]()

In [ ]:
# Menghitung jarak data Numeric dengan cara Euclidean Distance
def d2(i,j,h):
    result = 0
    for col in [hasil1, hasil2, hasil3, hasil4, hasil5]:
        result = math.pow(abs(col[i] - col[j]), h)
    return result**(1/h)

In [ ]:
# Menampilkan hasil perhitungan dari data numeric
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

1.2374819654955576
2.0229485701730345
2.298798929689416

## Similarity

In [ ]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2))

1.4874819654955576

In [ ]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2))

2.2729485701730345

In [ ]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2))

2.548798929689416

# Tugas 2 - Diskritisasi

In [ ]:
# Import liberary yang diperlukan
import pandas as pd 
import math
from sklearn import datasets

In [ ]:
# Membaca dan menampilkan data csv
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# mengetahui jumlah baris dan kolom
iris.shape

(150, 5)

In [ ]:
# Proses diskritisasi sepal_length
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4,
                       encode='ordinal', 
                       strategy='uniform')
iris["sepal_length"] = est.fit_transform(iris[["sepal_length"]])

In [ ]:
# Menampilkan hasil dari diskritisasi dari sepal_length
iris["sepal_length"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    1.0
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
# Proses diskritisasi sepal_width
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4,
                       encode='ordinal', 
                       strategy='uniform')
iris["sepal_width"] = est.fit_transform(iris[["sepal_width"]])

In [ ]:
# Menampilkan hasil dari diskritisasi dari sepal_width
iris["sepal_width"]

0      2.0
1      1.0
2      2.0
3      1.0
4      2.0
      ...
145    1.0
146    0.0
147    1.0
148    2.0
149    1.0
Name: sepal_width, Length: 150, dtype: float64

In [ ]:
# Proses diskritisasi petal_length
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4,
                       encode='ordinal', 
                       strategy='uniform')
iris["petal_length"] = est.fit_transform(iris[["petal_length"]])

In [ ]:
# Menampilkan hasil dari diskritisasi dari petal_length
iris["petal_length"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: petal_length, Length: 150, dtype: float64

In [ ]:
# Proses diskritisasi petal_width
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4,
                       encode='ordinal', 
                       strategy='uniform')
iris["petal_width"] = est.fit_transform(iris[["petal_width"]])

In [ ]:
# Menampilkan hasil dari diskritisasi dari petal_width
iris["petal_width"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    2.0
Name: petal_width, Length: 150, dtype: float64

In [ ]:
# Mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Mengatur tempat penyimpanan untuk file csv dari hasil diskritisasi
%cd /content/drive/MyDrive/UNIVERSITAS TRUNOJOYO MADURA/SEMESTER 5/datamining/

/content/drive/MyDrive/UNIVERSITAS TRUNOJOYO MADURA/SEMESTER 5/datamining

In [ ]:
# Menyimpan hasil diskritisasi ke dalam file csv dengan nama diskritisasi_iris.csv
iris.to_csv("diskritisasi_iris.csv")

In [ ]:
# Membaca file hasil dari Diskritisasi
iris2 = pd.read_csv("/content/drive/MyDrive/UNIVERSITAS TRUNOJOYO MADURA/SEMESTER 5/datamining/diskritisasi_iris.csv")
iris2.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           0.0          2.0           0.0          0.0  setosa
1           1           0.0          1.0           0.0          0.0  setosa
2           2           0.0          2.0           0.0          0.0  setosa
3           3           0.0          1.0           0.0          0.0  setosa
4           4           0.0          2.0           0.0          0.0  setosa