# Content with notebooks

You can also create content with Jupyter Notebooks. This means that you can include
code blocks and their outputs in your book.

## Markdown + notebooks

As it is markdown, you can embed images, HTML, etc into your posts!

![](https://myst-parser.readthedocs.io/en/latest/_static/logo-wide.svg)

You can also $add_{math}$ and

$$
math^{blocks}
$$

or

$$
\begin{aligned}
\mbox{mean} la_{tex} \\ \\
math blocks
\end{aligned}
$$

But make sure you \$Escape \$your \$dollar signs \$you want to keep!

## MyST markdown

MyST markdown works in Jupyter Notebooks as well. For more information about MyST markdown, check
out [the MyST guide in Jupyter Book](https://jupyterbook.org/content/myst.html),
or see [the MyST markdown documentation](https://myst-parser.readthedocs.io/en/latest/).

## Code blocks and outputs

Jupyter Book will also embed your code blocks and output in your book.
For example, here's some sample Matplotlib code:

In [ ]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
plt.ion()

In [ ]:
# Fixing random state for reproducibility
np.random.seed(19680801)

N = 10
data = [np.logspace(0, 1, 100) + np.random.randn(100) + ii for ii in range(N)]
data = np.array(data).T
cmap = plt.cm.coolwarm
rcParams['axes.prop_cycle'] = cycler(color=cmap(np.linspace(0, 1, N)))


from matplotlib.lines import Line2D
custom_lines = [Line2D([0], [0], color=cmap(0.), lw=4),
                Line2D([0], [0], color=cmap(.5), lw=4),
                Line2D([0], [0], color=cmap(1.), lw=4)]

fig, ax = plt.subplots(figsize=(10, 5))
lines = ax.plot(data)
ax.legend(custom_lines, ['Cold', 'Medium', 'Hot']);

In [1]:
# Import liberary yang diperlukan
import pandas as pd 
import math

In [2]:
# Membaca data csv
mobile = pd.read_csv("https://raw.githubusercontent.com/Luqman-Noor-Buat/datamining/main/Samsung_mobile.csv")
mobile.head()

,Mobile_Phone,Model,RAM_GB,ROM_GB,Review,Latest_Price_Taka,Payment_Method,Discount,Selling_Price
0,Samsumg Galaxy,Note 20 ultra,8,256,good,134999.0,cash,3000,131999
1,Samsumg Galaxy,S20 ultra,12,128,good,129900.0,cash,3000,126900
2,Samsumg Galaxy,S20+,8,128,good,84999.0,cash,3000,81999
3,Samsumg Galaxy,Lite,6,128,good,55999.0,cash,2500,53499
4,Samsumg Galaxy,A51,6,128,good,45990.0,cash,2500,43490

In [6]:
# mengetahui jumlah baris dan kolom
mobile.shape

(21, 9)

Data Nominal/Categorical

In [3]:
# Menampilkan data Nominal/Categorical
mobile[["Mobile_Phone","Model","Review", "Payment_Method"]].head()

     Mobile_Phone          Model Review Payment_Method
0  Samsumg Galaxy  Note 20 ultra   good           cash
1  Samsumg Galaxy      S20 ultra   good           cash
2  Samsumg Galaxy           S20+   good           cash
3  Samsumg Galaxy           Lite   good           cash
4  Samsumg Galaxy            A51   good           cash

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)

In [ ]:
# Menghitung jarak data Nominal/categorical
def d1(i,j):
    P = 4
    M = 0
    for col in ["Mobile_Phone", "Model", "Review","Payment_Method"]:
        if mobile[col][i] == mobile[col][j]:
            M += 1

    return (P-M)/P

In [ ]:
# Menampilkan hasil perhitungan
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

0.25
0.25
0.25

Data Numeric

In [5]:
# Menampilkan data numeric
mobile[["RAM_GB", "ROM_GB", "Latest_Price_Taka", "Discount", "Selling_Price"]].head()

   RAM_GB  ROM_GB  Latest_Price_Taka  Discount  Selling_Price
0       8     256           134999.0      3000         131999
1      12     128           129900.0      3000         126900
2       8     128            84999.0      3000          81999
3       6     128            55999.0      2500          53499
4       6     128            45990.0      2500          43490

In [ ]:
# Menghitung jarak data Numeric dengan cara Euclidean
def d2(i,j,h):
    result = 0
    for col in ["RAM_GB", "ROM_GB", "Latest_Price_Taka", "Discount", "Selling_Price"]:
        result = math.pow(abs(mobile[col][i] - mobile[col][j]), h)
    return result**(1/h)

In [ ]:
# Menampilkan hasil perhitungan
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

44901.0
73401.0
83410.0

Similarity

In [ ]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2))

44901.25

In [ ]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2))

73401.25

In [ ]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2))

83410.25